@page

@* @inject KpiQueryService kpi *@
@inject IAdminRepository admin
@using VinZ.Common
@inject ITimeService DateTime
@inject IDemoContext demo
@inject IServerContextService serverContext

@{
    Layout = "_Layout";
}

@section head
{
    <link rel="stylesheet" href="./spinner.css" asp-append-version="true"/>
    <script type="module">
        import { createSpinnerButton } from './spinonsubmit.js';

        window.onload = function() {
            
            const spinSubmitDay = day => {
                createSpinnerButton('submitDay' + day, 'formDay' + day,
                    (formData) => document.getElementById('formDay' + day).submit(),
                    (error) => alert(error),
                    'white', 'right', false
                )
            }
            
            spinSubmitDay(1)
            spinSubmitDay(7)
            spinSubmitDay(30)
        }

    </script>
}


<table>
    <tbody>
    <tr>
        <td width="100">
            <img src="~/viiinzzz-round.png" width="64">
        </td>
        <td>
            <h1>BOOKING API</h1>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Vinz the dev, May'24<br/>
            <br/>
            This is an exploratory C# solution<br/>
            <br/>
                ✅CQRS ✅Onion ✅Core ✅Layer ✅Functional ✅DDD
                ✅Ubiquitous ✅Entities ✅Services ✅Bus ✅Notification
                ✅REST ❌GraphQL
                ✅Async ✅State ✅Orchestrator ✅Remote ✅Cooperation ✅Resiliency
                #Data ✅Semantic ✅Domain ✅ Container ✅Orchestration ❌Microservices ❌IaaS
                ✅data-ownership ✅Database ✅SQL ✅Distributed Transactions ✅ORM ✅QueryTranslater ✅ObjectMapper ✅Repository
                ✅architecture ✅Quality ❌Tests ✅Landscape ✅Simulation ✅Metrics ✅Observability ❌Performance
        </td>
    </tr>
    </tbody>
</table>




<hr/>
<h2>Demonstration Mode</h2>

Fake Time: @($"{DateTime.UtcNow:u}") <b>(Day+@(demo.SimulationDay))</b><br />
@if (!demo.SeedComplete)
{
    <b class="blink">Seed in progress...</b><br/>

    <script> setTimeout(function () { window.location.reload(); }, 5000); </script>
}
else
{
    <table>
        <tbody>
        <tr>
            <td>
                <form id="formDay1" action="/demo/forward" method="GET">
                    <button id="submitDay1" type="submit" value="" class="glow-on-hover" disabled="@(!demo.SeedComplete)">Day+1</button>
                    <input type="hidden" name="days" value="1">
                    <input type="hidden" name="speedFactor" value="1440">
                    <input type="hidden" name="serverId" value="@serverContext.Id">
                    <input type="hidden" name="sessionId" value="@serverContext.SessionId">
                </form>
            </td>
            <td>
                <form id="formDay7" action="/demo/forward" method="GET">
                    <button id="submitDay7" type="submit" class="glow-on-hover" disabled="@(!demo.SeedComplete)">Day+7</button>
                    <input type="hidden" name="days" value="7">
                    <input type="hidden" name="speedFactor" value="10080">
                    <input type="hidden" name="serverId" value="@serverContext.Id">
                    <input type="hidden" name="sessionId" value="@serverContext.SessionId">
                </form>
            </td>
            <td>
                <form id="formDay30" action="/demo/forward" method="GET">
                    <button id="submitDay30" type="submit" class="glow-on-hover" disabled="@(!demo.SeedComplete)">Day+30</button>
                    <input type="hidden" name="days" value="30">
                    <input type="hidden" name="speedFactor" value="43200">
                    <input type="hidden" name="serverId" value="@serverContext.Id">
                    <input type="hidden" name="sessionId" value="@serverContext.SessionId">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
}




<hr/>
<h2>/test</h2>
The API is documented and testable with <a href="/test">Swagger UI</a>.




<hr/>
<h2>/metrics</h2>
The API can be monitored using <a href="/metrics">target</a> in <a href="http://localhost:9090/graph">Prometheus</a> <a href="https://prometheus.io/download">download</a>




<hr />
<h2>Administration</h2>
<ul>
    <li>Listing
        <ul>
            <li>
                <a href="/admin/hotels">List of Hotels</a>
                <ul>
                    <li><a href="/admin/vacancies">List of Vacancies</a></li>
                    <li><a href="/admin/bookings">List of Bookings</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/employees">List of Employees</a>
                <ul>
                    <li><a href="/money/payrolls">List of Payrolls</a></li>
                </ul>
            </li>

            <li>
                <a href="/sales/customers">List of Customers</a>
                <ul>
                    <li><a href="/money/invoices">List of Invoices</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/geo/indexes">List of GeoIndexes</a>
            </li>
        </ul>
    </li>
    
    <br />
    <li>Hotels
        <ul>
            <li>
                All<br>
                <a href="/admin/kpi">Key Performance Indicators</a>
            </li>
            @foreach (var hotel in admin.Hotels)
            {
                <li>
                    @hotel.HotelName<br>
                    <a href="/admin/hotels/@hotel.HotelId/kpi">Key Performance Indicators</a>
                </li>
            }
        </ul>
    </li>
</ul>
<h2>Planning</h2>

<ul>
    @foreach (var hotel in admin.Hotels)
    {
        <li>
            @hotel.HotelName<br>
            Reception
            &nbsp;<a href="/reception/planning/today/hotels/@hotel.HotelId">Today</a>
            &nbsp;<a href="/reception/planning/week/hotels/@hotel.HotelId">Week</a>
            &nbsp;<a href="/reception/planning/month/hotels/@hotel.HotelId">Month</a>
            &nbsp;<a href="/reception/planning/full/hotels/@hotel.HotelId">Full</a>
            &nbsp;&nbsp;Room Service
            &nbsp;<a href="/service/room/hotels/@hotel.HotelId">Todo</a>
        </li>
    }
</ul>
 

<h2>Booking</h2>
<ul>
    <li><a href="/sales/search">Find a Stay</a></li>
</ul>

